// FONT
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
$font: 'Outfit', sans-serif;
// COLORS
$darknavy: #1A2A33;
$darkblue: #31C3BD;
$blue: #65E9E4;
$darkyellow: #F2B137;
$yellow: #FFC860;
$semidarknavy: #1F3641;
$silver: #A8BFC9;
$white: #DBE8ED;

// GLOBAL STYLES
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $darknavy;
}

// NEW GAME BUTTON COMPONENT STYLES
.newGameBTN {
    height: 56px;
    width: 460px;
    border-radius: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: $darknavy;
    cursor: pointer;
}

// Stats
.stats {
    height: 72px;
    width: 140px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-family: $font;
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0.75px;
        text-align: center;
        color: $darknavy;
    }

    span {
        font-family: $font;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 1.5px;
        color: $darknavy;
    }
}

// box
.box {
    cursor: pointer;
    background-color: $semidarknavy;
    box-shadow: inset 0px -8px 0px #10212A;
    border-radius: 15px;
    border: none;
    background-repeat: no-repeat;
    background-size: 64px 64px;
    background-position: center;

}

// START PAGE
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
        display: block;
        margin-bottom: 40px;
    }

    .pick {
        width: 460px;
        height: 205px;
        padding: 24px;
        background: $semidarknavy;
        box-shadow: inset 0px -8px 0px #10212A;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .pick-title {
            font-family: $font;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $silver;
        }

        .x-and-o {
            width: 412px;
            height: 72px;
            margin-top: 24px;
            background: $darknavy;
            border-radius: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .x {
                width: 198px;
                height: 54px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                img {
                    width: 32px;
                    height: 32px;
                }
            }

            .o {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 198px;
                height: 54px;
                border-radius: 10px;
                cursor: pointer;

                img {
                    width: 32px;
                    height: 32px;
                }
            }
        }

        .warning {
            margin-top: 17px;
            font-family: $font;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            letter-spacing: 0.875px;
            mix-blend-mode: normal;
            opacity: 0.5;
            color: $silver;
        }
    }
}

// VS PLAYER
.vs-player {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    header {
        width: 100%;
        max-width: 460px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .turn {
            height: 52px;
            width: 140px;
            background: $semidarknavy;
            box-shadow: inset 0px -4px 0px #10212A;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 13px;

            img {
                width: 20px;
                height: 20px;
            }

            p {
                font-family: $font;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $silver;
            }
        }

        .reset {
            width: 52px;
            height: 52px;
            background: $silver;
            box-shadow: inset 0px -4px 0px #6B8997;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            cursor: pointer;
        }
    }

    .area {
        margin-top: 20px;
        width: 100vw;
        max-width: 460px;
        aspect-ratio: 1/1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 20px;
    }

    footer {
        margin-top: 19px;
        width: 100%;
        max-width: 460px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// MESSAGE PVP
.messagePVP {
    width: 100vw;
    height: 266px;
    max-width: 1920px;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    background-color: $semidarknavy;
    padding: 45px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $silver;
    }

    span {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        color: #31C3BD;
        margin-left: 23px;
    }

    img {
        width: 55px;
        height: 55px;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        color: $silver;
    }
}

// QUIT
.quit {
    height: 52px;
    width: 76px;
    border-radius: 10px;
    background: $silver;
    box-shadow: inset 0px -4px 0px #6B8997;
    border: none;
    cursor: pointer;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    /* Dark Navy */

    color: #1A2A33;
}

// NEXT ROUND
.nextRound {
    height: 52px;
    width: 146px;
    border-radius: 10px;
    background: #F2B137;
    box-shadow: inset 0px -4px 0px #CC8B13;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1A2A33;
}

// MESSAGE RESTART
.restart {
    width: 100vw;
    height: 266px;
    max-width: 1920px;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    background-color: $semidarknavy;
    padding: 45px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    div{
        width: fit-content;
        margin: 0 auto;
    }
    p {
        /* Heading (Large) */

        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        letter-spacing: 2.5px;
        text-transform: uppercase;

        /* Silver */

        color: #A8BFC9;
    }

    .cancel {
        background: #A8BFC9;
        box-shadow: inset 0px -4px 0px #6B8997;
        height: 52px;
        width: 139px;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        /* Heading (Extra Small) */

        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;

        /* Dark Navy */

        color: #1A2A33;
    }

    .yes {
        height: 52px;
        width: 151px;
        border-radius: 10px;
        background: #F2B137;
        box-shadow: inset 0px -4px 0px #CC8B13;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;

        /* Dark Navy */
        cursor: pointer;
        border:none;
        color: #1A2A33;
        margin-left: 16px;
    }
}


.xBackground{
    background-image: url('./Images/x.svg') !important;
    pointer-events: none;
}
.oBackground{
    background-image: url('./Images/o.svg') !important;
    pointer-events: none;
}
.hovx:hover{
    background-image: url('./Images/x-outline.svg');
}
.hovo:hover{
    background-image: url('./Images/o-outline.svg');
}