@media (max-width:480px) {
    .newGameBTN{
        width: 327px;
    }
    .main{
        .pick{
            width: 327px;
        }
        .x-and-o {
            width: 279px !important;
            .x {
                width: 131px !important;
            }
            .o {
                width: 131px !important;
            }
        }

    }
    header{
        padding: 0px 10px !important;
    }
    .area{
        padding: 0px 10px !important;
    }
    .box{
        background-size: 40px 40px !important;
    }
    .stats{
        width: 90px;
    }
    footer{
        padding: 0px 10px !important;
        justify-content: space-around !important;
    }
    .messagePVP{
        span{
            font-size: 24px !important;
        }
        img{
            width: 30px;
            height: 30px;
        }
    }
}
